@use "./abstracts" as *;

.search-params {
  width: 1100px;
  margin: 0 auto;

  form {
    border-radius: 6px;
    background: $card-bg;
    box-shadow: $white-shadow;
    width: 360px;
    margin: 0px 25px 0px 0px;
    padding: 35px 15px 15px 15px;
    float: left;

    .pet {
      float: unset;
      margin: 0 auto;
    }
  }

  label {
    display: block;
    width: 60px;
  }

  input,
  select {
    margin-bottom: 30px;
    font-size: 18px;
    height: 30px;
    width: 325px;
  }

  button {
    @extend %standard-button;

    &:hover {
      background-color: #122622;
    }

    &:active {
      background-color: #5f1d22;
    }

    &:focus {
      border: 1px solid cornflowerblue;
    }
  }
}

.search {
  border-radius: 6px;
  background: $card-bg;
  box-shadow: $white-shadow;
  width: 715px;
  padding: 15px;
  float: left;
  margin-bottom: 25px;
}

.details {
  width: 1100px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 6px;
  background: $card-bg;
  box-shadow: $white-shadow;

  p {
    line-height: 1.5;
    padding: 0px 15px;
  }

  h1 {
    text-align: center;
    color: $dark-main;
    font-size: 60px;
    margin: 5px 0px;
  }

  h2 {
    text-align: center;
    margin: 5px 0px 20px 0px;
  }

  button {
    @extend %standard-button;
  }
}

header > a,
#root > div > h1 {
  display: inline-block;
  background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png);
  filter: brightness(150%);
  width: 279px;
  height: 76px;
  overflow: hidden;
  text-indent: -9999px;
  margin: 20px 0;
}

header {
  @include flex-center;
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0px 0px 0px;

  a {
    color: $dark-main;
    font-size: 3px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
  }
}
